#about {
    padding-bottom: 10%;

    .category-column {
        padding: 0;
    }

    @include media("<=phone") {
        padding-bottom: 50%;
    }

    @include media("<=phoneLandscape", "landscape") {
        padding-bottom: 15%;
    }

    @include media(">=tablet", "<desktop") {
        padding-bottom: 20%;
    }
}
