#contact {
    background: url(../img/mosaic-btm-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -30%;
    padding-bottom: 9%;

    .contact-form {
        @include flexCenter(column);
        margin: 30px auto 0;
        width: 40%;

        .contact-input,
        .contact-message {
            margin-bottom: 15px;
            border: 1px solid $lightGray;
            border-radius: 5px;
            outline: none;
            padding: 10px;
            width: 100%;
        }

        .contact-input {
            height: 2.3rem;
        }

        .contact-message {
            resize: none;
        }

        .success-msg {
            background: $lightGreen;
            border-radius: 5px;
            color: $white;
            padding: 7px 13px;
            text-align: center;
        }

        .submit-btn {
            background: $secondaryLightBlue;
            border: none;
            border-radius: 50%;
            color: $white;
            font-size: 1.3rem;
            padding: 10px 15px;
            transition: $transition2;

            &:hover {
                background: $secondaryLightBlueHover;
            }
        }
    }

    .continue-link {
        color: $white;
    }

    @include media("<=phone") {
        background-position-y: -100%;
        padding-bottom: 40%;

        .contact-form {
            width: 95%;
        }
    }

    @include media(">phone", "<=425px") {
        background-position-y: -100%;
        padding-bottom: 37%;

        .contact-form {
            width: 95%;
        }
    }

    @include media(">=tablet", "<desktop") {
        background-position-y: -100%;
        height: fit-content;
        padding-bottom: 20%;

        .contact-form {
            width: 60%;
        }
    }
}
