#footer {
    background: $darkBlue;
    color: $white;
    padding: 50px 30px 20px;
    width: 100%;

    .row {
        margin: 0;

        .footer-column-heading {
            font-size: 1.2rem;
            font-weight: bold;
        }

        .footer-social-links-container {
            .footer-social-link {
                @include whiteLink();
                font-size: 1.5rem;
                margin-right: 15px;
            }
        }

        .footer-column {
            padding: 0;
        }

        .navigation-column {
            text-align: center;
        }

        .footer-links-container {
            padding: 10px 0;
            text-align: center;

            .footer-link {
                @include whiteLink();
                font-size: 1rem;
            }
        }
    }

    @include media("<=phone") {
        padding: 35px 0 15px;

        .row {
            .footer-column-heading {
                font-size: 1.5rem;
                text-align: center;
            }

            .footer-social-links-container {
                @include flexCenter(row);
                margin-bottom: 15px;

                .footer-social-link {
                    font-size: 1.7rem;
                    margin: 0 20px;
                }
            }

            .footer-column {
                margin-bottom: 10px;
            }

            .footer-links-container {
                margin-top: -5px;

                .footer-link {
                    font-size: 1.1rem;
                }
            }
        }
    }

    @include media("<=phoneLandscape", "landscape") {
        padding: 35px 0 10px;

        .row {
            .footer-column-heading {
                font-size: 1.5rem;
                text-align: center;
            }

            .footer-social-links-container {
                @include flexCenter(row);
                margin-bottom: 20px;

                .footer-social-link {
                    font-size: 1.7rem;
                    margin: 0 15px;
                }
            }

            .footer-column {
                margin-bottom: 10px;
            }

            .footer-links-container {
                margin-top: -5px;

                .footer-link {
                    font-size: 1.1rem;
                }
            }
        }
    }
}

.copyright-text {
    color: $white;
    margin: 0;
}

.copyright-container {
    @include flexCenter(row);
    background: $darkBlue;
    height: fit-content;
    padding: 20px 0;
}
