@mixin flexCenter($direction) {
    align-items: center;
    display: flex;
    flex-direction: $direction;
    justify-content: center;
}

@mixin fullSize() {
    height: 100%;
    width: 100%;
}

@mixin whiteLink() {
    color: $white;
    font-weight: bold;
    transition: $transition2;

    &:hover {
        color: $secondaryLightBlueHover;
    }
}
