.project-container {
    padding: 50px 70px;

    img {
        border-radius: 5px;
    }

    .project-title {
        color: $primaryGold;
        font-size: $titleFontSize;
        letter-spacing: 5px;
        text-transform: uppercase;
    }

    .project-description {
        font-size: $regFontSize;
    }

    .project-skills-title {
        color: $primaryLightBlue;
        font-size: $subtitleFontSize;
        letter-spacing: 5px;
        text-transform: uppercase;
    }

    .skills-container {
        display: flex;
        flex-wrap: wrap;
        width: 100%;

        .skill-btn {
            background: $secondaryLightBlue;
            border-radius: 5px;
            color: $white;
            margin: 0 15px 15px 0;
            padding: 3px 7px;
        }
    }

    i {
        margin-right: 5px;
    }

    .project-links-container {
        @include flexCenter(row);
        margin: 20px 0;
        width: 100%;

        .project-link {
            @include roundedButton(
                none,
                none,
                1px solid $primaryLightBlue,
                1px solid $secondaryLightBlue,
                $primaryLightBlue,
                $secondaryLightBlue,
                1.1rem
            );
            margin-right: 20px;
        }
    }

    .divider-line {
        margin: 0 0 20px;
        border-top: 2px solid $lightGray;
    }

    .back-btn {
        @include roundedButton(
            $lightGray,
            $darkGray,
            1px solid $white,
            1px solid $white,
            $white,
            $white,
            1.1rem
        );
    }
}
