#projects {
    height: fit-content;
    padding-bottom: 9%;

    .projects-directions-desktop {
        display: block;
    }

    .projects-directions-mobile {
        display: none;
    }

    .projects-row {
        margin-top: 25px;
    }

    .hovereffects {
        @include fullSize();
        cursor: pointer;
        overflow: hidden;
        position: relative;
        text-align: center;

        &:hover img {
            transform: scale(1.2);
        }

        &:hover .overlay {
            opacity: 1;
            filter: opacity(100);
        }

        &:hover .project-title,
        &:hover a.info {
            opacity: 1;
            filter: opacity(100);
            transform: translateY(0);
        }

        &:hover a.info {
            transition-delay: 0.2s;
        }

        .overlay {
            @include flexCenter(column);
            @include fullSize();
            background: $transparentBlack;
            left: 0;
            position: absolute;
            opacity: 0;
            overflow: hidden;
            top: 0;
            transition: all 0.4s ease-in-out;
        }

        img {
            display: block;
            position: relative;
            transition: all 0.4s ease-in-out;
        }

        .project-title {
            color: $white;
            font-size: 1.5rem;
            letter-spacing: 5px;
            margin-bottom: 15px;
            position: relative;
            text-align: center;
            text-shadow: 0 0 5px $textColor;
            text-transform: uppercase;
            transition: $transition2;
        }

        a.info {
            background: transparent;
            border: 1px solid $white;
            border-radius: 5px;
            color: $white;
            display: inline-block;
            font-size: 1rem;
            filter: opacity(0);
            letter-spacing: 7px;
            opacity: 0;
            padding: 3px 10px;
            margin: 0 5px;
            text-decoration: none;
            text-transform: uppercase;
            transition: $transition2;

            &:hover {
                box-shadow: 0 0 5px $white;
            }
        }
    }

    @include media("<=phone") {
        padding-bottom: 40%;

        .projects-row {
            margin-top: 0;
        }

        .projects-directions-desktop {
            display: none;
        }

        .projects-directions-mobile {
            display: block;
        }

        .project-column {
            margin-bottom: 25px;
        }

        .hovereffects {
            .project-title {
                font-size: 1.2rem;
                margin-bottom: 5px;
            }

            a.info {
                font-size: 0.7rem;
            }
        }
    }

    @include media(">phone", "<=425px") {
        padding-bottom: 40%;

        .projects-row {
            margin-top: 0;
        }

        .projects-directions-desktop {
            display: none;
        }

        .projects-directions-mobile {
            display: block;
        }

        .project-column {
            margin-bottom: 25px;
        }

        .hovereffects {
            .project-title {
                font-size: 1.7rem;
                margin-bottom: 10px;
            }

            a.info {
                font-size: 1.1rem;
            }
        }
    }

    @include media(">=tablet", "<desktop") {
        padding-bottom: 15%;
        .project-column {
            margin-bottom: 25px;
        }

        .projects-directions-desktop {
            display: none;
        }

        .projects-directions-mobile {
            display: block;
        }
    }
}
