$primaryLightBlue: #57b4f3;
$secondaryLightBlue: #a1d9ff;
$secondaryLightBlueHover: #91c3e6;
$primaryGold: #f2b257;

$white: #f8f8ff;
$lightGray: #d3d3d3;
$textColor: #344966;

$transparentBlack: rgba(0, 0, 0, 0.5);
