@import "./breakpoints/breakpoints.scss";

$darkBlue: #106cd1;
$primaryLightBlue: #57b4f3;
$secondaryLightBlue: #a1d9ff;
$secondaryLightBlueHover: #91c3e6;
$primaryGold: #fac748;
$lightGreen: #87bba2;

$white: #f8f8ff;
$lightGray: #d3d3d3;
$darkGray: #a9a9a9;
$textColor: #344966;

$transparentBlack: rgba(0, 0, 0, 0.5);

$titleFontSize: 3rem;
$subtitleFontSize: 1.8rem;
$regFontSize: 1.3rem;

$transition2: all 0.2s ease-in-out;
