@import "_variables";
@import "_mixin";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background: $darkBlue;
}

body {
    font-family: "Open Sans", sans-serif;
    color: $textColor;
}

a,
a:hover {
    text-decoration: none;
}

.row {
    margin: 0;
}

.section {
    background: #fdfffe;
    // height: fit-content;
    min-height: 90vh;
    padding: 50px 75px;
    position: relative;

    .section-title {
        color: $primaryGold;
        font-size: $titleFontSize;

        .title-wrapper {
            display: inline-block;

            .letter {
                display: inline-block;
                line-height: 1rem;
            }
        }
    }

    .section-subtitle {
        color: $primaryLightBlue;
        font-size: $subtitleFontSize;
    }

    .section-text {
        font-size: $regFontSize;
    }

    .continue-container {
        animation: float 1s infinite alternate ease-in-out;
        bottom: 5%;
        left: 0;
        margin: 0 auto;
        position: absolute;
        right: 0;

        .continue-link {
            @include flexCenter(column);
            color: $textColor;
            font-size: 1.7rem;
        }

        .continue-caret {
            font-size: 2.2rem;
        }
    }

    @keyframes float {
        from {
            bottom: 4%;
        }
        to {
            bottom: 6%;
        }
    }

    @include media("<=phone") {
        padding: 40px 20px;

        .section-title {
            font-size: 1.8rem;
        }

        .section-subtitle {
            font-size: 1.5rem;
        }

        .section-text {
            font-size: 1rem;
        }

        .continue-container {
            .continue-link {
                font-size: 1.5rem;
            }

            .continue-caret {
                font-size: 2rem;
            }
        }
    }

    @include media(">phone", "<=425px") {
        padding: 40px 25px;

        .section-title {
            font-size: 2rem;
        }

        .section-subtitle {
            font-size: 1.7rem;
        }

        .section-text {
            font-size: 1.2rem;
        }

        .continue-container {
            .continue-link {
                font-size: 1.7rem;
            }

            .continue-caret {
                font-size: 2.2rem;
            }
        }
    }
}

.section-divider {
    border-color: $secondaryLightBlue;
    border-style: dotted none none;
    border-width: 20px;
    height: 0;
    margin: 50px auto;
    width: 7%;

    @include media("<=phone") {
        border-width: 20px;
        margin: 40px auto;
        width: 30%;
    }

    @include media(">phone", "<=425px") {
        border-width: 20px;
        margin: 25px auto;
        width: 30%;
    }
}

@import "_navbar";
@import "_landing";
@import "_about";
@import "_project";
@import "_projects";
@import "_contact";
@import "_footer";
