* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background: #106cd1;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #344966;
}

a,
a:hover {
  text-decoration: none;
}

.row {
  margin: 0;
}

.section {
  background: #fdfffe;
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  padding: 50px 75px;
  position: relative;
}

.section .section-title {
  color: #fac748;
  font-size: 3rem;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.section .section-title .title-wrapper {
  display: inline-block;
}

.section .section-title .title-wrapper .letter {
  display: inline-block;
  line-height: 1rem;
}

.section .section-subtitle {
  color: #57b4f3;
  font-size: 1.8rem;
}

.section .section-text {
  font-size: 1.3rem;
}

.section .continue-container {
  -webkit-animation: float 1s infinite alternate ease-in-out;
          animation: float 1s infinite alternate ease-in-out;
  bottom: 5%;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
}

.section .continue-container .continue-link {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #344966;
  font-size: 1.7rem;
}

.section .continue-container .continue-caret {
  font-size: 2.2rem;
}

@-webkit-keyframes float {
  from {
    bottom: 4%;
  }
  to {
    bottom: 6%;
  }
}

@keyframes float {
  from {
    bottom: 4%;
  }
  to {
    bottom: 6%;
  }
}

@media (max-width: 320px) {
  .section {
    padding: 40px 20px;
  }
  .section .section-title {
    font-size: 1.8rem;
  }
  .section .section-subtitle {
    font-size: 1.5rem;
  }
  .section .section-text {
    font-size: 1rem;
  }
  .section .continue-container .continue-link {
    font-size: 1.5rem;
  }
  .section .continue-container .continue-caret {
    font-size: 2rem;
  }
}

@media (min-width: 321px) and (max-width: 425px) {
  .section {
    padding: 40px 25px;
  }
  .section .section-title {
    font-size: 2rem;
  }
  .section .section-subtitle {
    font-size: 1.7rem;
  }
  .section .section-text {
    font-size: 1.2rem;
  }
  .section .continue-container .continue-link {
    font-size: 1.7rem;
  }
  .section .continue-container .continue-caret {
    font-size: 2.2rem;
  }
}

.section-divider {
  border-color: #a1d9ff;
  border-style: dotted none none;
  border-width: 20px;
  height: 0;
  margin: 50px auto;
  width: 7%;
}

@media (max-width: 320px) {
  .section-divider {
    border-width: 20px;
    margin: 40px auto;
    width: 30%;
  }
}

@media (min-width: 321px) and (max-width: 425px) {
  .section-divider {
    border-width: 20px;
    margin: 25px auto;
    width: 30%;
  }
}

.hide {
  display: none;
}

.navbar {
  background: #106cd1;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px 20px;
}

.navbar .navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar .navbar-collapse {
  padding-left: 10px;
}

.navbar .nav-link {
  color: #f8f8ff;
  margin-right: 15px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.navbar .nav-link:hover {
  color: #91c3e6;
}

#landing {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: url("../img/mosaic-top-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 210%;
  height: 90vh;
  padding: 0;
  margin: 0;
}

#landing .content-wrapper {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

#landing .landing-title {
  color: #fac748;
  font-size: 4rem;
  letter-spacing: 10px;
  text-transform: uppercase;
  text-align: center;
}

#landing .landing-subtitle {
  color: #57b4f3;
  font-size: 2.2rem;
  text-align: center;
}

#landing .socials-container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#landing .socials-container .social-link {
  color: #a1d9ff;
  font-size: 2.5rem;
  margin: 0 25px;
}

#landing .socials-container .social-link:hover {
  color: #91c3e6;
}

@media (max-width: 320px) {
  #landing {
    background-position: 0px -390px;
  }
  #landing .landing-title {
    font-size: 2.5rem;
    letter-spacing: 7px;
  }
  #landing .landing-subtitle {
    font-size: 1.5rem;
  }
  #landing .socials-container .social-link {
    font-size: 2rem;
    margin: 0 15px;
  }
}

@media (min-width: 321px) and (max-width: 425px) {
  #landing {
    background-position: 0px -450px;
  }
  #landing .landing-title {
    font-size: 3.2rem;
    letter-spacing: 7px;
  }
  #landing .landing-subtitle {
    font-size: 1.9rem;
  }
  #landing .socials-container .social-link {
    font-size: 2.5rem;
    margin: 0 20px;
  }
}

@media (min-width: 321px) and (max-width: 425px) and (orientation: landscape) {
  #landing .landing-title {
    font-size: 1rem;
    letter-spacing: 5px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  #landing {
    background-position: 0px -515px;
  }
}

#about {
  padding-bottom: 10%;
}

#about .category-column {
  padding: 0;
}

@media (max-width: 320px) {
  #about {
    padding-bottom: 55%;
  }
}

@media (min-width: 321px) and (max-width: 425px) {
  #about {
    padding-bottom: 50%;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  #about {
    padding-bottom: 20%;
  }
}

.project-container {
  padding: 50px 70px;
}

.project-container img {
  border-radius: 5px;
}

.project-container .project-title {
  color: #fac748;
  font-size: 3rem;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.project-container .project-description {
  font-size: 1.3rem;
}

.project-container .project-skills-title {
  color: #57b4f3;
  font-size: 1.8rem;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.project-container .skills-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.project-container .skills-container .skill-btn {
  background: #a1d9ff;
  border-radius: 5px;
  color: #f8f8ff;
  margin: 0 15px 15px 0;
  padding: 3px 7px;
}

.project-container i {
  margin-right: 5px;
}

.project-container .project-links-container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px 0;
  width: 100%;
}

.project-container .project-links-container .project-link {
  background: none;
  border: 1px solid #57b4f3;
  border-radius: 5px;
  color: #57b4f3;
  font-size: 1.1rem;
  letter-spacing: 3px;
  padding: 7px 14px;
  text-transform: uppercase;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  margin-right: 20px;
}

.project-container .project-links-container .project-link:hover {
  background: none;
  border: 1px solid #a1d9ff;
  color: #a1d9ff;
}

.project-container .divider-line {
  margin: 0 0 20px;
  border-top: 2px solid #d3d3d3;
}

.project-container .back-btn {
  background: #d3d3d3;
  border: 1px solid #f8f8ff;
  border-radius: 5px;
  color: #f8f8ff;
  font-size: 1.1rem;
  letter-spacing: 3px;
  padding: 7px 14px;
  text-transform: uppercase;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.project-container .back-btn:hover {
  background: #a9a9a9;
  border: 1px solid #f8f8ff;
  color: #f8f8ff;
}

@media (max-width: 320px) {
  .project-container {
    padding: 15px 5px 30px;
  }
  .project-container .project-title {
    font-size: 1.8rem;
  }
  .project-container .project-description {
    font-size: 1rem;
  }
  .project-container .project-skills-title {
    font-size: 1.5rem;
  }
  .project-container .skills-container .skill-btn {
    font-size: 0.9rem;
  }
  .project-container i {
    margin-right: 5px;
  }
  .project-container .project-links-container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 20px 0 10px;
  }
  .project-container .project-links-container .project-link {
    background: none;
    border: 1px solid #57b4f3;
    border-radius: 5px;
    color: #57b4f3;
    font-size: 0.9rem;
    letter-spacing: 3px;
    padding: 7px 14px;
    text-transform: uppercase;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    margin: 0 0 10px 0;
    text-align: center;
    width: 100%;
  }
  .project-container .project-links-container .project-link:hover {
    background: none;
    border: 1px solid #a1d9ff;
    color: #a1d9ff;
  }
  .project-container .divider-line {
    margin: 0 0 20px;
    border-top: 2px solid #d3d3d3;
  }
  .project-container .back-btn {
    background: #d3d3d3;
    border: 1px solid #f8f8ff;
    border-radius: 5px;
    color: #f8f8ff;
    font-size: 0.9rem;
    letter-spacing: 3px;
    padding: 7px 14px;
    text-transform: uppercase;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  .project-container .back-btn:hover {
    background: #a9a9a9;
    border: 1px solid #f8f8ff;
    color: #f8f8ff;
  }
}

@media (min-width: 321px) and (max-width: 424px) {
  .project-container {
    padding: 15px 5px 30px;
  }
  .project-container .project-title {
    font-size: 2rem;
  }
  .project-container .project-description {
    font-size: 1.2rem;
  }
  .project-container .project-skills-title {
    font-size: 1.7rem;
  }
  .project-container .skills-container .skill-btn {
    font-size: 1rem;
  }
  .project-container i {
    margin-right: 5px;
  }
  .project-container .project-links-container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 20px 0 10px;
  }
  .project-container .project-links-container .project-link {
    background: none;
    border: 1px solid #57b4f3;
    border-radius: 5px;
    color: #57b4f3;
    font-size: 1rem;
    letter-spacing: 3px;
    padding: 7px 14px;
    text-transform: uppercase;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    margin: 0 0 10px 0;
    text-align: center;
    width: 100%;
  }
  .project-container .project-links-container .project-link:hover {
    background: none;
    border: 1px solid #a1d9ff;
    color: #a1d9ff;
  }
  .project-container .divider-line {
    margin: 0 0 20px;
    border-top: 2px solid #d3d3d3;
  }
  .project-container .back-btn {
    background: #d3d3d3;
    border: 1px solid #f8f8ff;
    border-radius: 5px;
    color: #f8f8ff;
    font-size: 1rem;
    letter-spacing: 3px;
    padding: 7px 14px;
    text-transform: uppercase;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  .project-container .back-btn:hover {
    background: #a9a9a9;
    border: 1px solid #f8f8ff;
    color: #f8f8ff;
  }
}

#projects {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding-bottom: 13%;
}

#projects .projects-directions-desktop {
  display: block;
}

#projects .projects-directions-mobile {
  display: none;
}

#projects .projects-row {
  margin-top: 25px;
  min-height: 35vh;
}

#projects .project-column {
  margin-top: 25px;
}

#projects .hovereffects {
  height: 100%;
  width: 100%;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  text-align: center;
}

#projects .hovereffects:hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

#projects .hovereffects:hover .overlay {
  opacity: 1;
  -webkit-filter: opacity(100);
          filter: opacity(100);
}

#projects .hovereffects:hover .project-title,
#projects .hovereffects:hover a.info {
  opacity: 1;
  -webkit-filter: opacity(100);
          filter: opacity(100);
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

#projects .hovereffects:hover a.info {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

#projects .hovereffects .overlay {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  left: 0;
  position: absolute;
  opacity: 0;
  overflow: hidden;
  top: 0;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

#projects .hovereffects img {
  display: block;
  position: relative;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

#projects .hovereffects .project-title {
  color: #f8f8ff;
  font-size: 1.5rem;
  letter-spacing: 5px;
  margin-bottom: 15px;
  position: relative;
  text-align: center;
  text-shadow: 0 0 5px #344966;
  text-transform: uppercase;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#projects .hovereffects a.info {
  background: transparent;
  border: 1px solid #f8f8ff;
  border-radius: 5px;
  color: #f8f8ff;
  display: inline-block;
  font-size: 1rem;
  -webkit-filter: opacity(0);
          filter: opacity(0);
  letter-spacing: 7px;
  opacity: 0;
  padding: 3px 10px;
  margin: 0 5px;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#projects .hovereffects a.info:hover {
  -webkit-box-shadow: 0 0 5px #f8f8ff;
          box-shadow: 0 0 5px #f8f8ff;
}

@media (max-width: 320px) {
  #projects {
    padding-bottom: 40%;
  }
  #projects .projects-row {
    margin-top: 0;
    min-height: 67vh;
  }
  #projects .projects-directions-desktop {
    display: none;
  }
  #projects .projects-directions-mobile {
    display: block;
  }
  #projects .project-column {
    margin-bottom: 25px;
  }
  #projects .hovereffects .project-title {
    font-size: 1.2rem;
    margin-bottom: 5px;
  }
  #projects .hovereffects a.info {
    font-size: 0.7rem;
  }
}

@media (min-width: 321px) and (max-width: 425px) {
  #projects {
    padding-bottom: 40%;
  }
  #projects .projects-row {
    margin-top: 0;
    min-height: 80vh;
  }
  #projects .projects-directions-desktop {
    display: none;
  }
  #projects .projects-directions-mobile {
    display: block;
  }
  #projects .project-column {
    margin-bottom: 25px;
  }
  #projects .hovereffects .project-title {
    font-size: 1.7rem;
    margin-bottom: 10px;
  }
  #projects .hovereffects a.info {
    font-size: 1.1rem;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  #projects {
    padding-bottom: 15%;
  }
  #projects .project-column {
    margin-bottom: 25px;
  }
  #projects .projects-directions-desktop {
    display: none;
  }
  #projects .projects-directions-mobile {
    display: block;
  }
}

#contact {
  background: url(../img/mosaic-btm-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: -30%;
  padding-bottom: 9%;
}

#contact .contact-form {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 30px auto 0;
  width: 40%;
}

#contact .contact-form .contact-input,
#contact .contact-form .contact-message {
  margin-bottom: 15px;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  outline: none;
  padding: 10px;
  width: 100%;
}

#contact .contact-form .contact-input {
  height: 2.3rem;
}

#contact .contact-form .contact-message {
  resize: none;
}

#contact .contact-form .success-msg {
  background: #87bba2;
  border-radius: 5px;
  color: #f8f8ff;
  padding: 7px 13px;
  text-align: center;
}

#contact .contact-form .submit-btn {
  background: #a1d9ff;
  border: none;
  border-radius: 50%;
  color: #f8f8ff;
  font-size: 1.3rem;
  padding: 10px 15px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#contact .contact-form .submit-btn:hover {
  background: #91c3e6;
}

#contact .continue-link {
  color: #f8f8ff;
}

@media (max-width: 320px) {
  #contact {
    background-position-y: -100%;
    padding-bottom: 40%;
  }
  #contact .contact-form {
    width: 95%;
  }
}

@media (min-width: 321px) and (max-width: 425px) {
  #contact {
    background-position-y: -100%;
    padding-bottom: 37%;
  }
  #contact .contact-form {
    width: 95%;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  #contact {
    background-position-y: -100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding-bottom: 20%;
  }
  #contact .contact-form {
    width: 60%;
  }
}

#footer {
  background: #106cd1;
  color: #f8f8ff;
  padding: 50px 30px 20px;
  width: 100%;
}

#footer .row {
  margin: 0;
}

#footer .row .footer-column-heading {
  font-size: 1.2rem;
  font-weight: bold;
}

#footer .row .footer-social-links-container .footer-social-link {
  color: #f8f8ff;
  font-weight: bold;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  font-size: 1.5rem;
  margin-right: 15px;
}

#footer .row .footer-social-links-container .footer-social-link:hover {
  color: #91c3e6;
}

#footer .row .footer-column {
  padding: 0;
}

#footer .row .navigation-column {
  text-align: center;
}

#footer .row .footer-links-container {
  padding: 10px 0;
  text-align: center;
}

#footer .row .footer-links-container .footer-link {
  color: #f8f8ff;
  font-weight: bold;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  font-size: 1rem;
}

#footer .row .footer-links-container .footer-link:hover {
  color: #91c3e6;
}

@media (max-width: 320px) {
  #footer {
    padding: 30px 20px 10px;
    width: 100%;
  }
  #footer .row .footer-column-heading {
    font-size: 1.3rem;
    text-align: center;
  }
  #footer .row .footer-social-links-container {
    margin-bottom: 15px;
  }
  #footer .row .footer-social-links-container .footer-social-link {
    font-size: 1.5rem;
    margin: 0 15px;
  }
  #footer .row .footer-column {
    margin-bottom: 10px;
  }
  #footer .row .footer-links-container {
    margin-top: -5px;
  }
  #footer .row .footer-links-container .footer-link {
    font-size: 1rem;
  }
}

@media (min-width: 321px) and (max-width: 425px) {
  #footer {
    padding: 35px 0 15px;
    width: 100%;
  }
  #footer .row .footer-column-heading {
    font-size: 1.5rem;
    text-align: center;
  }
  #footer .row .footer-social-links-container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 15px;
  }
  #footer .row .footer-social-links-container .footer-social-link {
    font-size: 1.7rem;
    margin: 0 20px;
  }
  #footer .row .footer-column {
    margin-bottom: 10px;
  }
  #footer .row .footer-links-container {
    margin-top: -5px;
  }
  #footer .row .footer-links-container .footer-link {
    font-size: 1.1rem;
  }
}

.copyright-text {
  color: #f8f8ff;
  margin: 0;
}

.copyright-container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #106cd1;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 20px 0;
}
/*# sourceMappingURL=style.css.map */